# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mybatisStudy\mybatis_02mapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
